*{
    padding: 0;
    margin: 0;
}
body {
    background-color: #474c5a;
  }
  
  .cabeçalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  color: beige;
  flex-wrap: wrap;
  background-color: #1f0b0c ;
  }

  